*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    transition: background-color 0.5s;
}
.datosPersonales{
    width: 100%;
    height: 500px;
    display: grid;
    justify-items: center;
    padding-top: 50px;
}
.formulario{
    display: grid;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 3px solid #000000;
    box-shadow: 0 0 10px;
}
body.oscuro-mode {
    background-color: #1a1616; 
    color: #abd16d; 
    transition: background-color 0.5s, color 0.5s;
}
.boton {
    margin-top: 20px;
    padding: 20px 50px;
    font-size: 16px;
    cursor: pointer;
}