.body{
    background-color: rgb(233, 205, 171);
    transition: 1s;
}
.oscuro-mode {
    background-color: #000;
    color: #317702;
}
.datosPersonales {
    margin: 20px;
}
.formulario {
    margin: 20px 0;
    padding: 20px;
    background: #757474;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    border: 3px solid #3f3f3f;
}
.formulario label {
    display: block;
    margin: 10px 0;
}
.formulario input[type=text], 
.formulario input[type=email], 
.formulario input[type=date], 
.formulario select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 3px solid #000000;
}
.formulario input[type=submit] {
    padding: 15px 25px;
    background-color: #013368;
    color: #ffffff;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
}
.formulario input[type=submit]:hover {
    background-color: #000000;
}
.boton {
    padding: 10px 20px;
    background-color: #013368;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
}
.boton:hover {
    background-color: #000000;
}

.logo{
    height: 60px;
    border-radius: 7px;
    border: 3px solid rgb(0, 0, 0);
}

.navbar-custom-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#botonArriba {
    display: none;
    position: fixed;
    bottom: 40px;
    z-index: 99;
    background-color: #383333;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
}
#botonArriba:hover {
    background-color: #473c3c;
}
html{
    scroll-behavior: smooth;
}

@media (max-width: 768px){
    .body{
        background-color: lightpink;

    }
}
@media (max-width: 412px) {
    .body {
        background-color: lightblue;
    }
    .formulario input{
        margin-left: 10px;
    }
    .boton{
        margin-left: 80px;
        border-radius: 10px;
    }
}


